/* CAMBIO MOVIL */

.cambio-container {
  padding: 1rem 0.5rem;
  gap: 1rem;
}

.header {
  padding: 1rem 1.5rem;
  max-width: 95%;
}

.header h1 {
  font-size: 1.2rem;
}

.header p {
  font-size: 0.8rem;
}

.exchange-area {
  flex-direction: column;
  gap: 1.5rem;
}

.vs {
  font-size: 1.5rem;
  padding: 5px 10px;
}

.prize-section app-carta-pokemon {
  max-width: 15rem;
}

.team-grid {
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

.replace-overlay {
  font-size: 0.9rem;
}

.btn-cancel {
  padding: 0.75rem 2rem;
  font-size: 1rem;
}
