/* CAMBIO MOVIL */

.cambio-container {
  padding: 0.25rem 1rem !important;
  gap: 0.2rem !important;
  justify-content: flex-start;
}

.header {
  padding: 0.5rem 1rem;
  max-width: 95%;
  margin-bottom: 0.25rem;
}

.header h1 {
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
}

.header p {
  font-size: 0.75rem;
}

.exchange-area {
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.prize-section h3, .team-section h3 {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  padding: 0.2rem 0.5rem;
}

.prize-section app-carta-pokemon {
  max-width: 9rem; /* Carta más pequeña para el premio */
}

.divider {
  margin: 0.1rem 0;
}

.vs {
  font-size: 1rem;
  padding: 3px 8px;
}

.team-grid {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  gap: 0.1rem !important;
  width: 100%;
}

.team-section p {
  font-size: 0.65rem;
  margin-bottom: 0.25rem;
}

.slot-container {
  width: 100%;
}

.replace-overlay {
  font-size: 0.7rem;
}

.fainted-overlay {
  font-size: 0.7rem;
}

.btn-cancel {
  padding: 0.5rem 1.5rem;
  font-size: 0.85rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  z-index: 100;
  position: relative;
}
