/* MENU MOVIL */

.menu-title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
  word-break: break-word;
  max-width: 100%;
}
.options {
  max-width: 90%;
  gap: 1rem;
}

button {
  padding: 0.8rem 1.2rem;
  font-size: 0.9rem;
}

.modal-content {
  padding: 1.5rem;
  max-width: 90%;
}

.modal-content h2 {
  font-size: 1.1rem;
}

.modal-content p {
  font-size: 0.75rem;
  line-height: 1.4;
}
