<div class="menu-container">
  <div class="high-score">
    High Score: {{ highScore() }}
  </div>

  <h1 class="menu-title">Juego Pokémon</h1>

  <div class="options">
    @if (hasSavedGame()) {
      <button class="btn-success" (click)="continuarJuego()">Continuar</button>
      <button class="btn-primary" (click)="iniciarJuego()">Nueva Partida</button>
    } @else {
      <button class="btn-primary" (click)="iniciarJuego()">Iniciar Juego</button>
    }
    @if (Tutorial === false) {
      <button class="btn-danger-anim" (click)="toggleHowToPlay()" (click)="this.Tutorial = true">¿Cómo jugar?</button>
    } @else {
      <button class="btn-neutral" (click)="toggleHowToPlay()">¿Cómo jugar?</button>
    }
    @if (hasHallOfFame()) {
      <button class="btn-Salon_Fama" routerLink="/salon-fama">Salón de la Fama</button>
    }


  </div>

  @if (showHowToPlay()) {
    <div class="modal">
      <div class="modal-content">
        <h2>¿Cómo jugar?</h2>
        
        <div class="carousel-container">
          <div class="carousel-slide">
            <div class="image-wrapper">
              <img [src]="slides[currentSlide()].image" alt="Cómo jugar" class="carousel-img">
            </div>
            <p class="carousel-text">{{ slides[currentSlide()].text }}</p>
          </div>

          <div class="carousel-controls">
            <button class="nav-btn" (click)="prevSlide()">❮</button>
            <div class="indicators">
              @for (slide of slides; track $index) {
                <span class="dot" [class.active]="$index === currentSlide()" (click)="currentSlide.set($index)"></span>
              }
            </div>
            <button class="nav-btn" (click)="nextSlide()">❯</button>
          </div>
        </div>

        <button class="btn-danger close-btn" (click)="toggleHowToPlay()">Cerrar</button>
      </div>
    </div>
  }
</div>
