<div class="menu-container">
  <div class="high-score">
    High Score: {{ highScore() }}
  </div>

  <h1 class="menu-title">Juego Pokémon</h1>

  <div class="options">
    @if (hasSavedGame()) {
      <button class="btn-success" (click)="continuarJuego()">Continuar</button>
      <button class="btn-primary" (click)="iniciarJuego()">Nueva Partida</button>
    } @else {
      <button class="btn-primary" (click)="iniciarJuego()">Iniciar Juego</button>
    }
    <button class="btn-neutral" (click)="toggleHowToPlay()">¿Cómo jugar?</button>
  </div>

  @if (showHowToPlay()) {
    <div class="modal">
      <div class="modal-content">
        <h2>¿Cómo jugar?</h2>
        <p>1. Empiezas con 3 Pokémon de Tier 1.</p>
        <p>2. En cada batalla, se elige una estadística al azar (Ataque, Defensa, etc.).</p>
        <p>3. El Pokémon con el valor más alto en esa estadística gana.</p>
        <p>4. Ten en cuenta que tipo es cada Pokémon.</p>
        <p>5. Gana 10 batallas para que tu equipo evolucione.</p>
        <p>5. Si todos tus Pokémon se debilitan, ¡el juego termina!</p>
        <button class="btn-danger" (click)="toggleHowToPlay()">Cerrar</button>
      </div>
    </div>
  }
</div>
