/* MENU MOVIL */

.menu-title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
  word-break: break-word;
  max-width: 100%;
}
.options {
  max-width: 90%;
  gap: 1rem;
}

button {
  padding: 0.8rem 1.2rem;
  font-size: 0.9rem;
}

.modal-content {
  padding: 1.5rem;
  max-width: 90%;
  width: 90%;
}

.modal-content h2 {
  font-size: 1.5rem;
}

.image-wrapper {
  height: 180px;
  margin-bottom: 1rem;
}

.carousel-text {
  font-size: 1rem;
  min-height: 3rem;
  margin-bottom: 1rem;
}

.nav-btn {
  width: 35px;
  height: 35px;
  font-size: 1rem;
}

.dot {
  width: 8px;
  height: 8px;
}

